/* src/App.css - Pega esto y borra lo demás */

/* Color del botón de búsqueda */
.btn-warning {
    background-color: #fca311 !important;
    border-color: #fca311 !important;
    color: white !important;
}

/* Efecto Hover rojo en el menú */
.nav-link.hover-danger:hover {
    color: #dc3545 !important;
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* Efecto Hover en las tarjetas */
.hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hover-effect:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

.cursor-pointer { cursor: pointer; }
.cursor-pointer:hover { text-decoration: underline; }